In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Assignment4').getOrCreate()

In [2]:
df_sales = spark.read.load('/home/ubuntu/datasets/sales_train.csv', format = 'csv', header = 'true')
df_supplier = spark.read.load('/home/ubuntu/datasets/shops.csv', format = 'csv', header = 'true')
df_product = spark.read.load('/home/ubuntu/datasets/items.csv', format = 'csv', header = 'true')
df_recentsales = spark.read.load('/home/ubuntu/datasets/recentsales.csv', format = 'csv', header = 'true')

In [3]:
df_sales.printSchema() #check format
df_sales.columns #check fields
df_sales.show() #check data
df_sales.count() #check quantity

root
 |-- date: string (nullable = true)
 |-- date_block_num: string (nullable = true)
 |-- shop_id: string (nullable = true)
 |-- item_id: string (nullable = true)
 |-- item_price: string (nullable = true)
 |-- item_cnt_day: string (nullable = true)

+----------+--------------+-------+-------+----------+------------+
|      date|date_block_num|shop_id|item_id|item_price|item_cnt_day|
+----------+--------------+-------+-------+----------+------------+
|02.01.2013|             0|     59|  22154|     999.0|         1.0|
|03.01.2013|             0|     25|   2552|     899.0|         1.0|
|05.01.2013|             0|     25|   2552|     899.0|        -1.0|
|06.01.2013|             0|     25|   2554|   1709.05|         1.0|
|15.01.2013|             0|     25|   2555|    1099.0|         1.0|
|10.01.2013|             0|     25|   2564|     349.0|         1.0|
|02.01.2013|             0|     25|   2565|     549.0|         1.0|
|04.01.2013|             0|     25|   2572|     239.0|         1.0|
|11.01.2013|             0|     25|   2572|     299.0|         1.0|
|03.01.2013|             0|     25|   2573|     299.0|         3.0|
|03.01.2013|             0|     25|   2574|     399.0|         2.0|
|05.01.2013|             0|     25|   2574|     399.0|         1.0|
|07.01.2013|             0|     25|   2574|     399.0|         1.0|
|08.01.2013|             0|     25|   2574|     399.0|         2.0|
|10.01.2013|             0|     25|   2574|     399.0|         1.0|
|11.01.2013|             0|     25|   2574|     399.0|         2.0|
|13.01.2013|             0|     25|   2574|     399.0|         1.0|
|16.01.2013|             0|     25|   2574|     399.0|         1.0|
|26.01.2013|             0|     25|   2574|     399.0|         1.0|
|27.01.2013|             0|     25|   2574|     399.0|         1.0|
+----------+--------------+-------+-------+----------+------------+
only showing top 20 rows

2935849

In [4]:
df_supplier.printSchema() #check format
df_supplier.columns #check fields
df_supplier.show() #check data
df_supplier.count() #check quantity

root
 |-- shop_name: string (nullable = true)
 |-- shop_id: string (nullable = true)

+--------------------+-------+
|           shop_name|shop_id|
+--------------------+-------+
|!Якутск Орджоники...|      0|
|"!Якутск ТЦ ""Цен...|      1|
|"Адыгея ТЦ ""Мега"""|      2|
|"Балашиха ТРК ""О...|      3|
|"Волжский ТЦ ""Во...|      4|
|"Вологда ТРЦ ""Ма...|      5|
|Воронеж (Плеханов...|      6|
|"Воронеж ТРЦ ""Ма...|      7|
|"Воронеж ТРЦ Сити...|      8|
|   Выездная Торговля|      9|
|Жуковский ул. Чка...|     10|
|Жуковский ул. Чка...|     11|
| Интернет-магазин ЧС|     12|
|"Казань ТЦ ""Бехе...|     13|
|"Казань ТЦ ""Парк...|     14|
|"Калуга ТРЦ ""XXI...|     15|
|"Коломна ТЦ ""Рио"""|     16|
|"Красноярск ТЦ ""...|     17|
|"Красноярск ТЦ ""...|     18|
|"Курск ТЦ ""Пушки...|     19|
+--------------------+-------+
only showing top 20 rows

60

In [5]:
df_product.printSchema() #check format
df_product.columns #check fields
df_product.show() #check data
df_product.count() #check quantity

root
 |-- item_name: string (nullable = true)
 |-- item_id: string (nullable = true)
 |-- item_category_id: string (nullable = true)

+--------------------+-------+----------------+
|           item_name|item_id|item_category_id|
+--------------------+-------+----------------+
|! ВО ВЛАСТИ НАВАЖ...|      0|              40|
|!ABBYY FineReader...|      1|              76|
|***В ЛУЧАХ СЛАВЫ ...|      2|              40|
|***ГОЛУБАЯ ВОЛНА ...|      3|              40|
|***КОРОБКА (СТЕКЛ...|      4|              40|
|***НОВЫЕ АМЕРИКАН...|      5|              40|
|***УДАР ПО ВОРОТА...|      6|              40|
|***УДАР ПО ВОРОТА...|      7|              40|
|***ЧАЙ С МУССОЛИН...|      8|              40|
|***ШУГАРЛЭНДСКИЙ ...|      9|              40|
|*ЗА ГРАНЬЮ СМЕРТИ...|     10|              40|
|*ЛИНИЯ СМЕРТИ    ...|     11|              40|
|*МИХЕЙ И ДЖУМАНДЖ...|     12|              55|
|*СПАСАЯ ЭМИЛИ    ...|     13|              40|
|*ЧОКНУТЫЙ ПРОФЕСС...|     14|              40|
|//АДРЕНАЛИН: ОДИН...|     15|              40|
|//МОНГОЛ С.Бодров...|     16|              40|
|//НЕ ОСТАВЛЯЮЩИЙ ...|     17|              40|
|/БОМБА ДЛЯ НЕВЕСТ...|     18|              40|
|/ЗОЛОТАЯ КОЛЛЕКЦИ...|     19|              40|
+--------------------+-------+----------------+
only showing top 20 rows

22170

In [6]:
df_recentsales.printSchema() #check format
df_recentsales.columns #check fields
df_recentsales.show() #check data
df_recentsales.count() #check quantity

root
 |-- ID: string (nullable = true)
 |-- shop_id: string (nullable = true)
 |-- item_id: string (nullable = true)

+---+-------+-------+
| ID|shop_id|item_id|
+---+-------+-------+
|  0|      5|   5037|
|  1|      5|   5320|
|  2|      5|   5233|
|  3|      5|   5232|
|  4|      5|   5268|
|  5|      5|   5039|
|  6|      5|   5041|
|  7|      5|   5046|
|  8|      5|   5319|
|  9|      5|   5003|
| 10|      5|   4806|
| 11|      5|   4843|
| 12|      5|   4607|
| 13|      5|   4869|
| 14|      5|   4870|
| 15|      5|   4872|
| 16|      5|   4874|
| 17|      5|   4678|
| 18|      5|   4892|
| 19|      5|   4964|
+---+-------+-------+
only showing top 20 rows

214200

In [7]:
df_sales.describe().show()

+-------+----------+-----------------+------------------+------------------+------------------+------------------+
|summary|      date|   date_block_num|           shop_id|           item_id|        item_price|      item_cnt_day|
+-------+----------+-----------------+------------------+------------------+------------------+------------------+
|  count|   2935849|          2935849|           2935849|           2935849|           2935849|           2935849|
|   mean|      null|14.56991146343017|33.001728290521754|10197.227056977385| 890.8532326979881| 1.242640885140891|
| stddev|      null|9.422987708755725| 16.22697304833424|6324.2973538914575|1729.7996307126411|2.6188344308954035|
|    min|01.01.2013|                0|                 0|                 0|              -1.0|              -1.0|
|    max|31.12.2014|                9|                 9|              9999|            9999.0|              99.0|
+-------+----------+-----------------+------------------+------------------+------------------+------------------+

In [8]:
df_supplier.describe().show()

+-------+--------------------+-----------------+
|summary|           shop_name|          shop_id|
+-------+--------------------+-----------------+
|  count|                  60|               60|
|   mean|                null|             29.5|
| stddev|                null|17.46424919657298|
|    min|!Якутск Орджоники...|                0|
|    max|Якутск Орджоникид...|                9|
+-------+--------------------+-----------------+

In [9]:
df_product.describe().show()

+-------+--------------------+--------------------+--------------------+
|summary|           item_name|             item_id|    item_category_id|
+-------+--------------------+--------------------+--------------------+
|  count|               22170|               22170|               22170|
|   mean|                42.0|  11104.498478310243|   93.93637102601156|
| stddev|                 NaN|   6403.208038926625|   740.2795772983332|
|    min|! ВО ВЛАСТИ НАВАЖ...| ""1С:Предпринима...| 3 липучки-бросалки"|
|    max|Яйцо дракона (Игр...|         арт. 61-33"|                9242|
+-------+--------------------+--------------------+--------------------+

In [10]:
df_recentsales.describe().show()

+-------+-----------------+------------------+-----------------+
|summary|               ID|           shop_id|          item_id|
+-------+-----------------+------------------+-----------------+
|  count|           214200|            214200|           214200|
|   mean|         107099.5|31.642857142857142|11019.39862745098|
| stddev|61834.35816760776|17.561933489896084|6252.644589940289|
|    min|                0|                10|            10003|
|    max|            99999|                 7|             9989|
+-------+-----------------+------------------+-----------------+

In [3]:
##From raw data visualisations there are outliers of item_price and item_cnt_day
#change datetype from string to integer in order to check outliers
from pyspark.sql.types import *
outliers_typeprice  = df_sales.withColumn("item_price", df_sales["item_price"].cast(IntegerType()))
outliers_type = outliers_typeprice.withColumn("item_cnt_day", outliers_typeprice["item_cnt_day"].cast(IntegerType()))
outliers_type.printSchema()

root
 |-- date: string (nullable = true)
 |-- date_block_num: string (nullable = true)
 |-- shop_id: string (nullable = true)
 |-- item_id: string (nullable = true)
 |-- item_price: integer (nullable = true)
 |-- item_cnt_day: integer (nullable = true)

In [12]:
#check outliers of item_price
outliers_type.createOrReplaceTempView('outliers_type')
outliers_price = spark.sql('SELECT distinct item_price FROM outliers_type ORDER BY item_price desc')
outliers_price.show()

+----------+
|item_price|
+----------+
|    307980|
|     59200|
|     50999|
|     49782|
|     42990|
|     42000|
|     41990|
|     40991|
|     40900|
|     37991|
|     36990|
|     35991|
|     35990|
|     35490|
|     35300|
|     35192|
|     34990|
|     34490|
|     33990|
|     33490|
+----------+
only showing top 20 rows

In [13]:
#check outliers of item_cnt_day
outliers_item_cnt_day = spark.sql('SELECT distinct item_cnt_day FROM outliers_type ORDER BY item_cnt_day desc')
outliers_item_cnt_day.show()

+------------+
|item_cnt_day|
+------------+
|        2169|
|        1000|
|         669|
|         637|
|         624|
|         539|
|         533|
|         512|
|         508|
|         504|
|         502|
|         501|
|         500|
|         480|
|         412|
|         405|
|         401|
|         343|
|         325|
|         313|
+------------+
only showing top 20 rows

In [14]:
##check missing values
#drop off missing values - sales data
df_sales.na.drop().show()

+----------+--------------+-------+-------+----------+------------+
|      date|date_block_num|shop_id|item_id|item_price|item_cnt_day|
+----------+--------------+-------+-------+----------+------------+
|02.01.2013|             0|     59|  22154|     999.0|         1.0|
|03.01.2013|             0|     25|   2552|     899.0|         1.0|
|05.01.2013|             0|     25|   2552|     899.0|        -1.0|
|06.01.2013|             0|     25|   2554|   1709.05|         1.0|
|15.01.2013|             0|     25|   2555|    1099.0|         1.0|
|10.01.2013|             0|     25|   2564|     349.0|         1.0|
|02.01.2013|             0|     25|   2565|     549.0|         1.0|
|04.01.2013|             0|     25|   2572|     239.0|         1.0|
|11.01.2013|             0|     25|   2572|     299.0|         1.0|
|03.01.2013|             0|     25|   2573|     299.0|         3.0|
|03.01.2013|             0|     25|   2574|     399.0|         2.0|
|05.01.2013|             0|     25|   2574|     399.0|         1.0|
|07.01.2013|             0|     25|   2574|     399.0|         1.0|
|08.01.2013|             0|     25|   2574|     399.0|         2.0|
|10.01.2013|             0|     25|   2574|     399.0|         1.0|
|11.01.2013|             0|     25|   2574|     399.0|         2.0|
|13.01.2013|             0|     25|   2574|     399.0|         1.0|
|16.01.2013|             0|     25|   2574|     399.0|         1.0|
|26.01.2013|             0|     25|   2574|     399.0|         1.0|
|27.01.2013|             0|     25|   2574|     399.0|         1.0|
+----------+--------------+-------+-------+----------+------------+
only showing top 20 rows

In [15]:
#count dataset after drpping missing values
df_sales.na.drop().count()

2935849

In [16]:
#compare with the original dataset
df_sales.count()

2935849

In [17]:
#drop off missing values - supplier data
df_supplier.na.drop().show()

+--------------------+-------+
|           shop_name|shop_id|
+--------------------+-------+
|!Якутск Орджоники...|      0|
|"!Якутск ТЦ ""Цен...|      1|
|"Адыгея ТЦ ""Мега"""|      2|
|"Балашиха ТРК ""О...|      3|
|"Волжский ТЦ ""Во...|      4|
|"Вологда ТРЦ ""Ма...|      5|
|Воронеж (Плеханов...|      6|
|"Воронеж ТРЦ ""Ма...|      7|
|"Воронеж ТРЦ Сити...|      8|
|   Выездная Торговля|      9|
|Жуковский ул. Чка...|     10|
|Жуковский ул. Чка...|     11|
| Интернет-магазин ЧС|     12|
|"Казань ТЦ ""Бехе...|     13|
|"Казань ТЦ ""Парк...|     14|
|"Калуга ТРЦ ""XXI...|     15|
|"Коломна ТЦ ""Рио"""|     16|
|"Красноярск ТЦ ""...|     17|
|"Красноярск ТЦ ""...|     18|
|"Курск ТЦ ""Пушки...|     19|
+--------------------+-------+
only showing top 20 rows

In [20]:
#count dataset after drpping missing values
df_supplier.na.drop().count()

60

In [21]:
#compare with the original dataset
df_supplier.count()

60

In [22]:
#drop off missing values - product data
df_product.na.drop().show()

+--------------------+-------+----------------+
|           item_name|item_id|item_category_id|
+--------------------+-------+----------------+
|! ВО ВЛАСТИ НАВАЖ...|      0|              40|
|!ABBYY FineReader...|      1|              76|
|***В ЛУЧАХ СЛАВЫ ...|      2|              40|
|***ГОЛУБАЯ ВОЛНА ...|      3|              40|
|***КОРОБКА (СТЕКЛ...|      4|              40|
|***НОВЫЕ АМЕРИКАН...|      5|              40|
|***УДАР ПО ВОРОТА...|      6|              40|
|***УДАР ПО ВОРОТА...|      7|              40|
|***ЧАЙ С МУССОЛИН...|      8|              40|
|***ШУГАРЛЭНДСКИЙ ...|      9|              40|
|*ЗА ГРАНЬЮ СМЕРТИ...|     10|              40|
|*ЛИНИЯ СМЕРТИ    ...|     11|              40|
|*МИХЕЙ И ДЖУМАНДЖ...|     12|              55|
|*СПАСАЯ ЭМИЛИ    ...|     13|              40|
|*ЧОКНУТЫЙ ПРОФЕСС...|     14|              40|
|//АДРЕНАЛИН: ОДИН...|     15|              40|
|//МОНГОЛ С.Бодров...|     16|              40|
|//НЕ ОСТАВЛЯЮЩИЙ ...|     17|              40|
|/БОМБА ДЛЯ НЕВЕСТ...|     18|              40|
|/ЗОЛОТАЯ КОЛЛЕКЦИ...|     19|              40|
+--------------------+-------+----------------+
only showing top 20 rows

In [23]:
#count dataset after drpping missing values
df_product.na.drop().count()

22170

In [24]:
#compare with the original dataset
df_product.count()

22170

In [25]:
#drop off missing values - recentsales data
df_recentsales.na.drop().show()

+---+-------+-------+
| ID|shop_id|item_id|
+---+-------+-------+
|  0|      5|   5037|
|  1|      5|   5320|
|  2|      5|   5233|
|  3|      5|   5232|
|  4|      5|   5268|
|  5|      5|   5039|
|  6|      5|   5041|
|  7|      5|   5046|
|  8|      5|   5319|
|  9|      5|   5003|
| 10|      5|   4806|
| 11|      5|   4843|
| 12|      5|   4607|
| 13|      5|   4869|
| 14|      5|   4870|
| 15|      5|   4872|
| 16|      5|   4874|
| 17|      5|   4678|
| 18|      5|   4892|
| 19|      5|   4964|
+---+-------+-------+
only showing top 20 rows

In [26]:
#count dataset after drpping missing values
df_recentsales.na.drop().count()

214200

In [27]:
#compare with the original dataset
df_recentsales.count()

214200

In [4]:
#original products data
df_product.show()
#drop off item_category_id
df_product=df_product.drop('item_category_id')
df_product.show()

+--------------------+-------+----------------+
|           item_name|item_id|item_category_id|
+--------------------+-------+----------------+
|! ВО ВЛАСТИ НАВАЖ...|      0|              40|
|!ABBYY FineReader...|      1|              76|
|***В ЛУЧАХ СЛАВЫ ...|      2|              40|
|***ГОЛУБАЯ ВОЛНА ...|      3|              40|
|***КОРОБКА (СТЕКЛ...|      4|              40|
|***НОВЫЕ АМЕРИКАН...|      5|              40|
|***УДАР ПО ВОРОТА...|      6|              40|
|***УДАР ПО ВОРОТА...|      7|              40|
|***ЧАЙ С МУССОЛИН...|      8|              40|
|***ШУГАРЛЭНДСКИЙ ...|      9|              40|
|*ЗА ГРАНЬЮ СМЕРТИ...|     10|              40|
|*ЛИНИЯ СМЕРТИ    ...|     11|              40|
|*МИХЕЙ И ДЖУМАНДЖ...|     12|              55|
|*СПАСАЯ ЭМИЛИ    ...|     13|              40|
|*ЧОКНУТЫЙ ПРОФЕСС...|     14|              40|
|//АДРЕНАЛИН: ОДИН...|     15|              40|
|//МОНГОЛ С.Бодров...|     16|              40|
|//НЕ ОСТАВЛЯЮЩИЙ ...|     17|              40|
|/БОМБА ДЛЯ НЕВЕСТ...|     18|              40|
|/ЗОЛОТАЯ КОЛЛЕКЦИ...|     19|              40|
+--------------------+-------+----------------+
only showing top 20 rows

+--------------------+-------+
|           item_name|item_id|
+--------------------+-------+
|! ВО ВЛАСТИ НАВАЖ...|      0|
|!ABBYY FineReader...|      1|
|***В ЛУЧАХ СЛАВЫ ...|      2|
|***ГОЛУБАЯ ВОЛНА ...|      3|
|***КОРОБКА (СТЕКЛ...|      4|
|***НОВЫЕ АМЕРИКАН...|      5|
|***УДАР ПО ВОРОТА...|      6|
|***УДАР ПО ВОРОТА...|      7|
|***ЧАЙ С МУССОЛИН...|      8|
|***ШУГАРЛЭНДСКИЙ ...|      9|
|*ЗА ГРАНЬЮ СМЕРТИ...|     10|
|*ЛИНИЯ СМЕРТИ    ...|     11|
|*МИХЕЙ И ДЖУМАНДЖ...|     12|
|*СПАСАЯ ЭМИЛИ    ...|     13|
|*ЧОКНУТЫЙ ПРОФЕСС...|     14|
|//АДРЕНАЛИН: ОДИН...|     15|
|//МОНГОЛ С.Бодров...|     16|
|//НЕ ОСТАВЛЯЮЩИЙ ...|     17|
|/БОМБА ДЛЯ НЕВЕСТ...|     18|
|/ЗОЛОТАЯ КОЛЛЕКЦИ...|     19|
+--------------------+-------+
only showing top 20 rows

In [5]:
#Only keep data that recent sales -- meanless if analyse products that no salsing for long time
shop_ids = df_recentsales.select('shop_id').distinct()
item_ids = df_recentsales.select('item_id').distinct()
df_filtered = df_sales.join(shop_ids, "shop_id")
df_filtered = df_filtered.join(item_ids, "item_id")
df_filtered.show()
df_filtered.count()

+-------+-------+----------+--------------+----------+------------+
|item_id|shop_id|      date|date_block_num|item_price|item_cnt_day|
+-------+-------+----------+--------------+----------+------------+
|  22154|     59|02.01.2013|             0|     999.0|         1.0|
|   2574|     25|03.01.2013|             0|     399.0|         2.0|
|   2574|     25|05.01.2013|             0|     399.0|         1.0|
|   2574|     25|07.01.2013|             0|     399.0|         1.0|
|   2574|     25|08.01.2013|             0|     399.0|         2.0|
|   2574|     25|10.01.2013|             0|     399.0|         1.0|
|   2574|     25|11.01.2013|             0|     399.0|         2.0|
|   2574|     25|13.01.2013|             0|     399.0|         1.0|
|   2574|     25|16.01.2013|             0|     399.0|         1.0|
|   2574|     25|26.01.2013|             0|     399.0|         1.0|
|   2574|     25|27.01.2013|             0|     399.0|         1.0|
|   2607|     25|27.01.2013|             0|     279.0|         1.0|
|   2607|     25|29.01.2013|             0|     279.0|         1.0|
|   2614|     25|19.01.2013|             0|     299.0|         1.0|
|   2614|     25|27.01.2013|             0|     299.0|         1.0|
|   2808|     25|02.01.2013|             0|     999.0|         2.0|
|   2808|     25|03.01.2013|             0|     999.0|         2.0|
|   2808|     25|04.01.2013|             0|     999.0|         1.0|
|   2808|     25|07.01.2013|             0|     999.0|         1.0|
|   2808|     25|08.01.2013|             0|     999.0|         2.0|
+-------+-------+----------+--------------+----------+------------+
only showing top 20 rows

1224439

In [6]:
#change data type - format
df_filtered  = df_filtered.withColumn("shop_id", df_filtered["shop_id"].cast(IntegerType()))
df_filtered  = df_filtered.withColumn("item_id", df_filtered["item_id"].cast(IntegerType()))
df_filtered  = df_filtered.withColumn("date_block_num", df_filtered["date_block_num"].cast(IntegerType()))
df_filtered  = df_filtered.withColumn("item_cnt_day", df_filtered["item_cnt_day"].cast(IntegerType()))
df_filtered  = df_filtered.withColumn("item_price", df_filtered["item_price"].cast(FloatType()))
df_filtered.printSchema()

root
 |-- item_id: integer (nullable = true)
 |-- shop_id: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- date_block_num: integer (nullable = true)
 |-- item_price: float (nullable = true)
 |-- item_cnt_day: integer (nullable = true)

In [7]:
##dealing with error data - negative values
#drop off daily sales qty which are negative
from pyspark.sql import Window
df_filtered = df_filtered.filter('item_cnt_day > 0 and item_price > 0')
df_filtered.show()

+-------+-------+----------+--------------+----------+------------+
|item_id|shop_id|      date|date_block_num|item_price|item_cnt_day|
+-------+-------+----------+--------------+----------+------------+
|  22154|     59|02.01.2013|             0|     999.0|           1|
|   2574|     25|03.01.2013|             0|     399.0|           2|
|   2574|     25|05.01.2013|             0|     399.0|           1|
|   2574|     25|07.01.2013|             0|     399.0|           1|
|   2574|     25|08.01.2013|             0|     399.0|           2|
|   2574|     25|10.01.2013|             0|     399.0|           1|
|   2574|     25|11.01.2013|             0|     399.0|           2|
|   2574|     25|13.01.2013|             0|     399.0|           1|
|   2574|     25|16.01.2013|             0|     399.0|           1|
|   2574|     25|26.01.2013|             0|     399.0|           1|
|   2574|     25|27.01.2013|             0|     399.0|           1|
|   2607|     25|27.01.2013|             0|     279.0|           1|
|   2607|     25|29.01.2013|             0|     279.0|           1|
|   2614|     25|19.01.2013|             0|     299.0|           1|
|   2614|     25|27.01.2013|             0|     299.0|           1|
|   2808|     25|02.01.2013|             0|     999.0|           2|
|   2808|     25|03.01.2013|             0|     999.0|           2|
|   2808|     25|04.01.2013|             0|     999.0|           1|
|   2808|     25|07.01.2013|             0|     999.0|           1|
|   2808|     25|08.01.2013|             0|     999.0|           2|
+-------+-------+----------+--------------+----------+------------+
only showing top 20 rows

In [33]:
#check dataset after dropping negative values
df_filtered.describe().show()

+-------+------------------+------------------+----------+-----------------+------------------+------------------+
|summary|           item_id|           shop_id|      date|   date_block_num|        item_price|      item_cnt_day|
+-------+------------------+------------------+----------+-----------------+------------------+------------------+
|  count|           1221498|           1221498|   1221498|          1221498|           1221498|           1221498|
|   mean| 9618.671848828242|32.152218832941195|      null|19.35396373960498|1029.2338776667743| 1.326892880708769|
| stddev|6300.6176766137405| 16.46378114313089|      null| 9.11081525848673|1824.9177146005516|3.3149275946428665|
|    min|                30|                 2|01.01.2013|                0|               0.5|                 1|
|    max|             22167|                59|31.12.2014|               33|           59200.0|              2169|
+-------+------------------+------------------+----------+-----------------+------------------+------------------+

In [8]:
##dealing with outliers
df_filtered = df_filtered.filter('item_cnt_day <700 and item_price < 600000')

In [35]:
#check dataset after dropping outliers
df_filtered.show()
df_filtered.count()

+-------+-------+----------+--------------+----------+------------+
|item_id|shop_id|      date|date_block_num|item_price|item_cnt_day|
+-------+-------+----------+--------------+----------+------------+
|  22154|     59|02.01.2013|             0|     999.0|           1|
|   2574|     25|03.01.2013|             0|     399.0|           2|
|   2574|     25|05.01.2013|             0|     399.0|           1|
|   2574|     25|07.01.2013|             0|     399.0|           1|
|   2574|     25|08.01.2013|             0|     399.0|           2|
|   2574|     25|10.01.2013|             0|     399.0|           1|
|   2574|     25|11.01.2013|             0|     399.0|           2|
|   2574|     25|13.01.2013|             0|     399.0|           1|
|   2574|     25|16.01.2013|             0|     399.0|           1|
|   2574|     25|26.01.2013|             0|     399.0|           1|
|   2574|     25|27.01.2013|             0|     399.0|           1|
|   2607|     25|27.01.2013|             0|     279.0|           1|
|   2607|     25|29.01.2013|             0|     279.0|           1|
|   2614|     25|19.01.2013|             0|     299.0|           1|
|   2614|     25|27.01.2013|             0|     299.0|           1|
|   2808|     25|02.01.2013|             0|     999.0|           2|
|   2808|     25|03.01.2013|             0|     999.0|           2|
|   2808|     25|04.01.2013|             0|     999.0|           1|
|   2808|     25|07.01.2013|             0|     999.0|           1|
|   2808|     25|08.01.2013|             0|     999.0|           2|
+-------+-------+----------+--------------+----------+------------+
only showing top 20 rows

1221496

In [9]:
from pyspark.sql import types, functions as F
group = df_filtered.sort('date').groupby("date_block_num", "shop_id", "item_id")
sales_update = group.agg( F.sum('item_cnt_day').alias('product_cnt'), F.count('item_cnt_day').alias('transactions'))
sales_update.show()
sales_update.printSchema()

+--------------+-------+-------+-----------+------------+
|date_block_num|shop_id|item_id|product_cnt|transactions|
+--------------+-------+-------+-----------+------------+
|             0|     15|   2308|         18|          12|
|             0|     18|  16071|          4|           4|
|             0|     42|  16450|         45|          20|
|            12|     35|   3316|          2|           2|
|            24|     15|  12091|          9|           7|
|            24|      7|  19771|          1|           1|
|            24|     41|   7834|          2|           2|
|            24|     28|   3552|         12|           9|
|            24|     28|   3553|          8|           8|
|            13|     25|  13518|          2|           2|
|            13|     25|   5035|         18|           9|
|            13|     31|  14164|          1|           1|
|            13|     52|   2635|          1|           1|
|            13|     42|   5096|          3|           3|
|            13|     58|   3734|         16|          11|
|            25|     31|  15066|         30|          20|
|            25|     41|  12541|          1|           1|
|            25|     41|   8400|          1|           1|
|            25|     56|  20609|          1|           1|
|            25|     52|   2244|          1|           1|
+--------------+-------+-------+-----------+------------+
only showing top 20 rows

root
 |-- date_block_num: integer (nullable = true)
 |-- shop_id: integer (nullable = true)
 |-- item_id: integer (nullable = true)
 |-- product_cnt: long (nullable = true)
 |-- transactions: long (nullable = false)

In [10]:
sales_update = sales_update.withColumn("monthly_sales", F.lag("product_cnt",1).over(Window.partitionBy("shop_id", "item_id").orderBy("date_block_num")))
sales_update.show()

+--------------+-------+-------+-----------+------------+-------------+
|date_block_num|shop_id|item_id|product_cnt|transactions|monthly_sales|
+--------------+-------+-------+-----------+------------+-------------+
|            30|      2|    975|          1|           1|         null|
|            32|      2|    975|          1|           1|            1|
|            25|      2|   2422|          2|           2|         null|
|            26|      2|   2422|          1|           1|            2|
|            30|      2|   2422|          1|           1|            1|
|            31|      2|   2422|          1|           1|            1|
|            32|      2|   2422|          1|           1|            1|
|            33|      2|   2422|          2|           2|            1|
|             5|      2|   2574|          1|           1|         null|
|            32|      2|   2574|          1|           1|            1|
|            23|      2|   5323|          1|           1|         null|
|            31|      2|   7029|          1|           1|         null|
|            32|      2|   7029|          3|           3|            1|
|            11|      2|  10452|          2|           2|         null|
|            23|      2|  10452|          1|           1|            2|
|            31|      2|  10452|          1|           1|            1|
|            21|      2|  10513|          1|           1|         null|
|            29|      2|  10513|          1|           1|            1|
|            28|      2|  15989|          1|           1|         null|
|            33|      2|  15989|          1|           1|            1|
+--------------+-------+-------+-----------+------------+-------------+
only showing top 20 rows

In [11]:
#Merge Sales data, Supplier data and product data to one table 
merge_data = sales_update.join(df_supplier, "shop_id")
merge_data = merge_data.join(df_product, "item_id")
merge_data.show()

+-------+-------+--------------+-----------+------------+-------------+--------------------+--------------------+
|item_id|shop_id|date_block_num|product_cnt|transactions|monthly_sales|           shop_name|           item_name|
+-------+-------+--------------+-----------+------------+-------------+--------------------+--------------------+
|    975|      2|            30|          1|           1|         null|"Адыгея ТЦ ""Мега"""|30 SECONDS TO MAR...|
|    975|      2|            32|          1|           1|            1|"Адыгея ТЦ ""Мега"""|30 SECONDS TO MAR...|
|   2422|      2|            25|          2|           2|         null|"Адыгея ТЦ ""Мега"""|Crew [PC, русская...|
|   2422|      2|            26|          1|           1|            2|"Адыгея ТЦ ""Мега"""|Crew [PC, русская...|
|   2422|      2|            30|          1|           1|            1|"Адыгея ТЦ ""Мега"""|Crew [PC, русская...|
|   2422|      2|            31|          1|           1|            1|"Адыгея ТЦ ""Мега"""|Crew [PC, русская...|
|   2422|      2|            32|          1|           1|            1|"Адыгея ТЦ ""Мега"""|Crew [PC, русская...|
|   2422|      2|            33|          2|           2|            1|"Адыгея ТЦ ""Мега"""|Crew [PC, русская...|
|   2574|      2|             5|          1|           1|         null|"Адыгея ТЦ ""Мега"""|DEL REY LANA  Bor...|
|   2574|      2|            32|          1|           1|            1|"Адыгея ТЦ ""Мега"""|DEL REY LANA  Bor...|
|   5323|      2|            23|          1|           1|         null|"Адыгея ТЦ ""Мега"""|ONE DIRECTION  Mi...|
|   7029|      2|            31|          1|           1|         null|"Адыгея ТЦ ""Мега"""|Tom Clancy's Ghos...|
|   7029|      2|            32|          3|           3|            1|"Адыгея ТЦ ""Мега"""|Tom Clancy's Ghos...|
|  10452|      2|            11|          2|           2|         null|"Адыгея ТЦ ""Мега"""|ГОЛОДНЫЕ ИГРЫ (ре...|
|  10452|      2|            23|          1|           1|            2|"Адыгея ТЦ ""Мега"""|ГОЛОДНЫЕ ИГРЫ (ре...|
|  10452|      2|            31|          1|           1|            1|"Адыгея ТЦ ""Мега"""|ГОЛОДНЫЕ ИГРЫ (ре...|
|  10513|      2|            21|          1|           1|         null|"Адыгея ТЦ ""Мега"""|ГРАНЬ БУДУЩЕГО (3...|
|  10513|      2|            29|          1|           1|            1|"Адыгея ТЦ ""Мега"""|ГРАНЬ БУДУЩЕГО (3...|
|  15989|      2|            28|          1|           1|         null|"Адыгея ТЦ ""Мега"""|Наст.книга по опл...|
|  15989|      2|            33|          1|           1|            1|"Адыгея ТЦ ""Мега"""|Наст.книга по опл...|
+-------+-------+--------------+-----------+------------+-------------+--------------------+--------------------+
only showing top 20 rows

In [12]:
#drop off item_name 
merge_data=merge_data.drop('item_name')
merge_data.show()

+-------+-------+--------------+-----------+------------+-------------+--------------------+
|item_id|shop_id|date_block_num|product_cnt|transactions|monthly_sales|           shop_name|
+-------+-------+--------------+-----------+------------+-------------+--------------------+
|    975|      2|            30|          1|           1|         null|"Адыгея ТЦ ""Мега"""|
|    975|      2|            32|          1|           1|            1|"Адыгея ТЦ ""Мега"""|
|   2422|      2|            25|          2|           2|         null|"Адыгея ТЦ ""Мега"""|
|   2422|      2|            26|          1|           1|            2|"Адыгея ТЦ ""Мега"""|
|   2422|      2|            30|          1|           1|            1|"Адыгея ТЦ ""Мега"""|
|   2422|      2|            31|          1|           1|            1|"Адыгея ТЦ ""Мега"""|
|   2422|      2|            32|          1|           1|            1|"Адыгея ТЦ ""Мега"""|
|   2422|      2|            33|          2|           2|            1|"Адыгея ТЦ ""Мега"""|
|   2574|      2|             5|          1|           1|         null|"Адыгея ТЦ ""Мега"""|
|   2574|      2|            32|          1|           1|            1|"Адыгея ТЦ ""Мега"""|
|   5323|      2|            23|          1|           1|         null|"Адыгея ТЦ ""Мега"""|
|   7029|      2|            31|          1|           1|         null|"Адыгея ТЦ ""Мега"""|
|   7029|      2|            32|          3|           3|            1|"Адыгея ТЦ ""Мега"""|
|  10452|      2|            11|          2|           2|         null|"Адыгея ТЦ ""Мега"""|
|  10452|      2|            23|          1|           1|            2|"Адыгея ТЦ ""Мега"""|
|  10452|      2|            31|          1|           1|            1|"Адыгея ТЦ ""Мега"""|
|  10513|      2|            21|          1|           1|         null|"Адыгея ТЦ ""Мега"""|
|  10513|      2|            29|          1|           1|            1|"Адыгея ТЦ ""Мега"""|
|  15989|      2|            28|          1|           1|         null|"Адыгея ТЦ ""Мега"""|
|  15989|      2|            33|          1|           1|            1|"Адыгея ТЦ ""Мега"""|
+-------+-------+--------------+-----------+------------+-------------+--------------------+
only showing top 20 rows

In [13]:
#drop off shop_name
merge_data=merge_data.drop('shop_name')
merge_data.show()

+-------+-------+--------------+-----------+------------+-------------+
|item_id|shop_id|date_block_num|product_cnt|transactions|monthly_sales|
+-------+-------+--------------+-----------+------------+-------------+
|    975|      2|            30|          1|           1|         null|
|    975|      2|            32|          1|           1|            1|
|   2422|      2|            25|          2|           2|         null|
|   2422|      2|            26|          1|           1|            2|
|   2422|      2|            30|          1|           1|            1|
|   2422|      2|            31|          1|           1|            1|
|   2422|      2|            32|          1|           1|            1|
|   2422|      2|            33|          2|           2|            1|
|   2574|      2|             5|          1|           1|         null|
|   2574|      2|            32|          1|           1|            1|
|   5323|      2|            23|          1|           1|         null|
|   7029|      2|            31|          1|           1|         null|
|   7029|      2|            32|          3|           3|            1|
|  10452|      2|            11|          2|           2|         null|
|  10452|      2|            23|          1|           1|            2|
|  10452|      2|            31|          1|           1|            1|
|  10513|      2|            21|          1|           1|         null|
|  10513|      2|            29|          1|           1|            1|
|  15989|      2|            28|          1|           1|         null|
|  15989|      2|            33|          1|           1|            1|
+-------+-------+--------------+-----------+------------+-------------+
only showing top 20 rows

In [11]:
final_data = sales_update.na.drop()

In [12]:
#set train and test set
train_set = sales_update.filter(sales_update['date_block_num'] < 33) 
test_set = sales_update.filter(sales_update['date_block_num'] == 33)
train_set = train_set.na.drop()
test = test_set.drop('monthly_sales')

In [13]:
rf_features = ['shop_id', 'item_id', 'product_cnt', 'transactions', 'date_block_num','monthly_sales']
rf_train = train_set[rf_features]
test_features = ['shop_id', 'item_id', 'product_cnt', 'transactions', 'date_block_num']

In [14]:
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols=['shop_id', 'item_id', 'transactions', 'date_block_num'], outputCol="features")
transformed = assembler.transform(rf_train)
rf = RandomForestRegressor(featuresCol="features", labelCol="monthly_sales")
rf_test = test[test_features]
rf_test.show()

+-------+-------+-----------+------------+--------------+
|shop_id|item_id|product_cnt|transactions|date_block_num|
+-------+-------+-----------+------------+--------------+
|     46|  15067|          1|           1|            33|
|     39|   1988|          1|           1|            33|
|      2|   3351|          4|           3|            33|
|     26|   1389|          2|           2|            33|
|     25|  13233|          5|           4|            33|
|     42|  16247|          4|           4|            33|
|     35|  16494|          1|           1|            33|
|     42|  20660|          1|           1|            33|
|     19|  15262|          2|           2|            33|
|     21|   2461|          1|           1|            33|
|     21|  12080|          1|           1|            33|
|     25|  11694|          2|           2|            33|
|     44|   1483|          2|           2|            33|
|     42|   6128|          3|           3|            33|
|     58|   4634|          1|           1|            33|
|     45|  15287|          2|           2|            33|
|     42|   1716|          6|           6|            33|
|     35|  16573|          1|           1|            33|
|     48|   8166|          1|           1|            33|
|     53|  15240|          3|           3|            33|
+-------+-------+-----------+------------+--------------+
only showing top 20 rows

In [15]:
rf_model = rf.fit(transformed)
print("Feature Importances: " + str(rf_model.featureImportances))
predictions = rf_model.transform(assembler.transform(rf_test))

Feature Importances: (4,[0,1,2,3],[0.0768130363905028,0.027145743537607032,0.8675161529569413,0.028525067114948777])

In [16]:
predictions.show()

+-------+-------+-----------+------------+--------------+--------------------+------------------+
|shop_id|item_id|product_cnt|transactions|date_block_num|            features|        prediction|
+-------+-------+-----------+------------+--------------+--------------------+------------------+
|     46|  15067|          1|           1|            33|[46.0,15067.0,1.0...|1.7687733137921016|
|     39|   1988|          1|           1|            33|[39.0,1988.0,1.0,...|2.1915517990748166|
|      2|   3351|          4|           3|            33|[2.0,3351.0,3.0,3...|2.4158088633136106|
|     26|   1389|          2|           2|            33|[26.0,1389.0,2.0,...|2.1058066069231645|
|     25|  13233|          5|           4|            33|[25.0,13233.0,4.0...| 2.522655159576644|
|     42|  16247|          4|           4|            33|[42.0,16247.0,4.0...|2.3606000861559258|
|     35|  16494|          1|           1|            33|[35.0,16494.0,1.0...|1.7687733137921016|
|     42|  20660|          1|           1|            33|[42.0,20660.0,1.0...| 2.364493539083843|
|     19|  15262|          2|           2|            33|[19.0,15262.0,2.0...|1.8023600950939827|
|     21|   2461|          1|           1|            33|[21.0,2461.0,1.0,...| 2.208515569642152|
|     21|  12080|          1|           1|            33|[21.0,12080.0,1.0...|  1.99479886952687|
|     25|  11694|          2|           2|            33|[25.0,11694.0,2.0...|2.0579658239515046|
|     44|   1483|          2|           2|            33|[44.0,1483.0,2.0,...|1.9922670889076137|
|     42|   6128|          3|           3|            33|[42.0,6128.0,3.0,...|2.3616836948775104|
|     58|   4634|          1|           1|            33|[58.0,4634.0,1.0,...| 2.141697100760852|
|     45|  15287|          2|           2|            33|[45.0,15287.0,2.0...|1.7687733137921016|
|     42|   1716|          6|           6|            33|[42.0,1716.0,6.0,...| 3.700132494718364|
|     35|  16573|          1|           1|            33|[35.0,16573.0,1.0...|1.7687733137921016|
|     48|   8166|          1|           1|            33|[48.0,8166.0,1.0,...|1.8954225432739331|
|     53|  15240|          3|           3|            33|[53.0,15240.0,3.0...|2.0519337417093473|
+-------+-------+-----------+------------+--------------+--------------------+------------------+
only showing top 20 rows

In [17]:
# save data
predictions.toPandas().to_csv(r'predict_output.csv')